
*.fasta
*.phr
*.pin
*.psd
*.psi
*.psq
.Rproj.user
.Rhistory
analyses/2018-11-01-DML-Analysis/C_virginica-3.0_CG-motif.bed
analyses/2018-11-01-DML-Analysis/C_virginica-3.0_Gnomon_exon.bed
analyses/2018-11-01-DML-Analysis/C_virginica-3.0_Gnomon_mRNA.gff3
*.bed
analyses/2018-11-01-DML-and-DMR-Analysis/C_virginica-3.0_Gnomon_mRNA.gff3
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-DML-mRNA.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Exon-CGmotif.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Intron-CGmotif.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-mRNA-CGmotif.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-mRNA-TE-all.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Exon-TE-all.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Exon-TE-Cv.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Intron-TE-all.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Intron-TE-Cv.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-mRNA-TE-Cv.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-TE-all-CGmotif.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-TE-Cv-CGmotif.txt
analyses/2018-11-01-DML-and-DMR-Analysis/C_virginica-3.0_TE-all.gff
analyses/2018-11-01-DML-and-DMR-Analysis/C_virginica-3.0_TE-Cg.gff
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Exon-TE-Cg.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Intron-TE-Cg.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-mRNA-TE-Cg.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-TE-Cg-CGmotif.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-14-Flanking-Analysis/2018-11-14-mRNA-100bp-Flanks-CGmotif.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-14-Flanking-Analysis/2018-11-14-mRNA-100bp-DownstreamFlanks-CGmotif.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-14-Flanking-Analysis/2018-11-14-mRNA-100bp-UpstreamFlanks-CGmotif.txt
*.bam
analyses/2018-12-02-Gene-Enrichment-Analysis/2018-12-02-Background-mRNA.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2018-12-18-Gene-Background-mRNA.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-01-04-Gene-Background-Exons.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-02-22-mRNA-Gene-Background-Uniprot.csv
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-02-22-mRNA-Gene-Background-UniprotOnly.csv
data/2019-03-17-Counting-Reads/zr2096_10_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_10_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_1_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_1_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_2_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_2_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_3_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_3_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_4_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_4_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_5_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_5_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_6_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_6_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_7_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_7_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_8_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_8_s1_R2.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_9_s1_R1.fastq.gz
data/2019-03-17-Counting-Reads/zr2096_9_s1_R2.fastq.gz
